body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #2E2E2E, #0F172A); */
  background-color: #2E2E2E;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

header {
  padding: 10px;
  background-color: #b2b2b2;
  color: white;
}

.visualizations {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.visualization-card {
  padding: 10px;
  width: 500px;
  background-color: #1e1e1e;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.3), 
              inset -6px -6px 12px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.visualization-card.selected {
  border: 2px solid rgba(153, 167, 242, 0.5);
}

.submit-button {
  margin-top: 40px;
  padding: 15px 30px;
  background-color: #1e1e1e;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.3), 
              inset -6px -6px 12px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.submit-button:focus {
  outline: none;
}

.submit-button:hover {
  transform: scale(1.05);
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.4), 
              inset -8px -8px 15px rgba(255, 255, 255, 0.2);
}


.video-container {
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 10px;
  height: 400px;
}

.result-section {
  margin-top: 100px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.neuron {
  width: 20px;
  height: 20px;
  background-color: #99A7F2;
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
}

.neuron:nth-child(2) {
  animation-delay: 0.2s;
}
.neuron:nth-child(3) {
  animation-delay: 0.4s;
}
.neuron:nth-child(4) {
  animation-delay: 0.6s;
}
.neuron:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}

.result-text {
  margin-top: 20px;
  font-size: 2rem;
  color: #99A7F2;
  font-weight: bold;
  text-shadow: 0 0 10px #99A7F2, 0 0 20px #99A7F2, 0 0 30px #99A7F2;
  animation: fadeIn 2s ease-out, pulse2 1.5s infinite;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse2 {
  0%, 100% {
    text-shadow: 0 0 10px #99A7F2, 0 0 20px #99A7F2, 0 0 30px #99A7F2;
  }
  50% {
    text-shadow: 0 0 20px #99A7F2, 0 0 30px #99A7F2, 0 0 40px #99A7F2;
  }
}

.tippy-box[data-theme~='custom'] {
  background-color: #99A7F2;
  color: #f1f1f1;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.tippy-box[data-theme~='custom']:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4), 
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #99A7F2;
}

.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #99A7F2;
}

.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #99A7F2;
}

.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #99A7F2;
}

.tippy-box[data-theme~='custom'] {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.Toastify {
  z-index: 9999; /* Ensure it appears above other elements */
}

/* Custom styles for Toastify to ensure visibility */
.Toastify__toast-container {
  z-index: 9999; /* Ensure it appears above other elements */
}

.Toastify__toast {
  background-color: #1e1e1e; /* Dark background for toasts */
  color: #ffffff; /* White text */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  padding: 16px;
  font-size: 1rem; /* Adjust font size */
}

.Toastify__toast--error {
  background-color: #ff4d4f; /* Custom color for error toasts */
}

.Toastify__toast--success {
  background-color: #99A7F2; /* Custom color for success toasts */
}

.Toastify__close-button {
  color: #ffffff; /* Close button color */
  opacity: 0.8;
}

/* close button focus none border */
.Toastify__close-button:focus {
  outline: none;
}

.Toastify__close-button:hover {
  opacity: 1;
}

.Toastify__progress-bar {
  background-color: #99A7F2; /* Custom progress bar color */
}

.Toastify__toast-icon svg {
  fill: #99A7F2; /* Custom color for the "i" icon */
}