body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373535;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  padding: 10px;
  background-color: #b2b2b2;
  color: white;
}

.visualizations {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.visualization-card {
  padding: 10px;
  width: 300px;
  background-color: black;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.visualization-placeholder {
  height: 200px;
  margin-bottom: 10px;
}

.visualization-card:hover {
  transform: scale(1.05);
  background-color: black;
}

.visualization-card.selected {
  border: 2px solid white;
  transform: scale(1.05);
}

.model-buttons button {
  margin: 5px;
  padding: 10px;
}

button.selected {
  background-color: #007bff;
  color: white;
}

.submit-button {
  margin-top: 40px;
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.video-container {
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 10px;
}
