.dashboard {
  margin-top: 160px;
  text-align: center;
}

.dashboard-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.graph-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.graph-card {
  background-color: #1e1e1e;
  border-radius: 15px;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.3), 
              inset -6px -6px 12px rgba(255, 255, 255, 0.1);
  padding: 15px;
  width: 500px;
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.graph-card h2 {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 15px;
}

.graph-image {
  width: 95%;
  height: auto;
  border-radius: 10px;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3), 
              inset -4px -4px 8px rgba(255, 255, 255, 0.1);
  margin-top: 10px;
}

.lev-score {
  font-size: 4.5rem;
  color: #99A7F2;
  margin-top: 60px;
  text-shadow: 0 0 15px #99A7F2, 0 0 10px #0056b3;
}

.single-card-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.strengths-weaknesses-card {
  background-color: #1e1e1e;
  border-radius: 25px;
  padding: 20px;
  width: 95%;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.3), 
              inset -8px -8px 16px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.strengths-weaknesses-card table {
  width: 100%;
  border-collapse: collapse;
}

.strengths-weaknesses-card th,
.strengths-weaknesses-card td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.strengths-weaknesses-card th {
  font-size: 2.3rem;
  color: #99A7F2;
  width: 5%;
}

.strengths-weaknesses-card td ul {
  padding-left: 15px;
}

.strengths-weaknesses-card tr:hover {
  background-color: rgba(153, 167, 242, 0.1);
}

.strengths-list, .weaknesses-list {
  font-size: 1.25rem;
}

.table-header {
  font-size: 1.75rem;
}